bucket         = "tfstate-week4-day1-<account-id>-ap-southeast-1"
key            = "week4/day2/shared.tfstate"
region         = "ap-southeast-1"
dynamodb_table = "tf-lock-week4-day1"
encrypt        = true

